<section class="px-5">
  <div class="right-section">
    <div class="content">
      <img src="/Images/email.png" alt="Mail" class="email-image" />
      <h1>🎉 تم إنشاء حسابك</h1>
      <p class="verify-message">
        تم إرسال رابط التفعيل إلى بريدك الإلكتروني:
        <span class="text-warning fw-bold">{{ email }}</span>
      </p>
      <a
        *ngIf="email"
        [href]="'https://mail.google.com/mail/u/0/#search/' + email"
        target="_blank"
        rel="noopener noreferrer"
        class="confirm-btn"
      >
        اذهب لتأكيد الحساب
      </a>
    </div>
  </div>

  <div class="left-section">
    <img
      src="/Images/mail-success.png"
      alt="Mail Sent Icon"
      class="img-fluid"
    />
  </div>
</section>
