<!-- >>>>>>>>>>>>>> intro -->
<section class="cta-section">
  <div class="image-container">
    <img src="/Images/Home.jpg" alt="A child carrying his sister" />
    <div class="overlay"></div>
  </div>
  <div class="container">
    <h2 class="cta-title">ساعد في تغيير حياة الآخرين</h2>
    <p class="cta-text">
      انضم إلينا في صنع الفرق. كل مساهمة تسهم في خلق تغيير إيجابي في مجتمعنا.
      معًا يمكننا بناء مستقبل أفضل للمحتاجين.
    </p>
    <!-- الأزرار -->
    <div class="action-buttons">
      <button class="btn donate-btn">
        <i class="bi bi-heart-fill"></i>
        تبرع الآن
      </button>

      <button class="btn volunteer-btn">
        <i class="bi bi-person-arms-up"></i>
        تطوع معنا
      </button>

      <button class="btn help-btn">
        <i class="bi bi-hand-index"></i>
        طلب مساعدة
      </button>
    </div>
  </div>
</section>

<!-- >>>>>>> sreivice -->
<section class="services-section">
  <div class="container">
    <h2 class="h2-title">كيف نساعد<span></span></h2>
    <div class="services-grid">
      <!-- خدمة التعليم -->
      <div class="service-card">
        <img
          src="/Images/Education Support.png"
          alt="دعم التعليم"
          class="service-image"
        />
        <h3>دعم التعليم</h3>
        <p>توفير الموارد التعليمية وفرص التعلم للأطفال المحرومين</p>
      </div>

      <!-- الدعم الغذائي -->
      <div class="service-card">
        <img
          src="/Images/Container-1.png"
          alt="الدعم الغذائي"
          class="service-image"
        />
        <h3>الدعم الغذائي</h3>
        <p>توفير الغذاء الأساسي عبر بنوك الطعام وبرامج الوجبات اليومية</p>
      </div>

      <!-- الرعاية الصحية -->
      <div class="service-card">
        <img
          src="/Images/Container-2.png"
          alt="الرعاية الصحية"
          class="service-image"
        />
        <h3>الرعاية الصحية</h3>
        <p>تقديم الرعاية الطبية الأساسية وخدمات الصحة العامة</p>
      </div>

      <!-- تدريب المهارات -->
      <div class="service-card">
        <img
          src="/Images/Skills Training-3.png"
          alt="تدريب المهارات"
          class="service-image"
        />
        <h3>تدريب المهارات</h3>
        <p>تمكين الأفراد عبر برامج التدريب المهني وخدمات التوظيف</p>
      </div>
    </div>
  </div>
</section>

<!-- >>>>>>> Our Mission & Vision -->
<section class="mission-section">
  <div class="container mission-grid">
    <!-- جزء الصورة -->
    <div class="mission-image">
      <img
        src="/Images/Container.png"
        alt="الفريق العامل في الجمعية"
        class="img-fluid"
      />
    </div>

    <!-- جزء النصوص -->
    <div class="mission-content">
      <h2 class="section-title">مهمتنا ورؤيتنا</h2>

      <p class="intro-text">
        في <span>يــــــــــد العطاء</span>، نؤمن بخلق تغيير إيجابي دائم في
        مجتمعاتنا. لأكثر من 15 عامًا، كرسنا أنفسنا لدعم المحتاجين عبر برامج
        ومبادرات متنوعة.
      </p>

      <div class="goals-wrapper">
        <!-- مهمتنا -->
        <div
          class="goal-item d-flex align-items-start mb-4 p-3 bg-light rounded"
        >
          <div class="icon-box me-3">
            <i class="bi bi-check2-circle fs-3"></i>
          </div>
          <div class="text-box">
            <h3 class="h5 fw-bold text-dark">مهمتنا</h3>
            <p class="mb-0 text-secondary">
              تمكين المجتمعات عبر الدعم المستدام والموارد، وخلق فرص لمستقبل أفضل
            </p>
          </div>
        </div>

        <!-- رؤيتنا -->
        <div
          class="goal-item d-flex align-items-start mb-4 p-3 bg-light rounded"
        >
          <div class="icon-box">
            <i class="bi bi-eye-fill fs-3"></i>
          </div>
          <div class="text-box">
            <h3 class="h5 fw-bold text-dark">رؤيتنا</h3>
            <p class="mb-0 text-secondary">
              عالم حيث يتمتع كل فرد بإمكانية الوصول إلى الموارد والدعم الذي
              يحتاجه ليزدهر
            </p>
          </div>
        </div>
      </div>

      <button class="cta-button btn btn-primary btn-lg px-5">
        اعرف المزيد عنا
      </button>
    </div>
  </div>
</section>

<!-- >>>>>>>>>>>>> dashborad -->
<section class="stats-section">
  <div class="overlay">
    <div class="stat-box">
      <h2>2.5 مليون+</h2>
      <p>إجمالي التبرعات التي تم جمعها</p>
    </div>
    <div class="stat-box">
      <h2>15,000+</h2>
      <p>عدد المستفيدين الذين تم مساعدتهم</p>
    </div>
    <div class="stat-box">
      <h2>5,000+</h2>
      <p>عدد المتطوعين النشطين</p>
    </div>
    <div class="stat-box">
      <h2>200+</h2>
      <p>عدد الحملات الناجحة</p>
    </div>
  </div>
</section>

<!-- >>>>>>>>>>> Our Gallery -->
<section class="gallery-section">
  <div class="container">
    <h2 class="section-title h2-title">معرض الصور <span></span></h2>

    <div class="gallery-grid">
      <div class="gallery-item animate-on-scroll visible">
        <img src="/Images/Gallery-1.png" alt="صورة 1" />
        <div class="video-icon">
          <i class="fa fa-play"></i>
        </div>
      </div>
      <div class="gallery-item animate-on-scroll visible">
        <img src="/Images/Gallery-2.png" alt="صورة 2" />
      </div>
      <div class="gallery-item animate-on-scroll visible">
        <img src="/Images/Gallery-3.png" alt="صورة 3" />
        <div class="video-icon">
          <i class="fa fa-play"></i>
        </div>
      </div>
      <div class="gallery-item animate-on-scroll visible">
        <img src="/Images/Gallery-4.png" alt="صورة 4" />
      </div>
    </div>

    <div class="view-more">
      <button class="btn-view">عرض المزيد</button>
    </div>
  </div>
</section>

<!-- >>>>>>>>>> Active Campaigns -->
<section class="active-campaigns" style="cursor: pointer">
  <h2 class="section-title h2-title">الحملات النشطة<span></span></h2>

  <p-carousel
    class="p-0"
    [value]="projects"
    [numVisible]="3"
    [numScroll]="2"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-project pTemplate="item">
      <div
        class="campaign-card border border-surface rounded-border m-1 p-1"
        [ngClass]="{ 'active-campaign': project.isActive }"
      >
        <!-- صورة الحملة -->
        <div class="card-image">
          <img
            [src]="project.imageUrl"
            [alt]="project.name"
            class="campaign-card-img"
          />
        </div>

        <!-- محتوى الكارت -->
        <div class="card-body">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description | slice : 8 }}</p>

          <!-- شريط التقدم -->
          <div class="progress-container">
            <div class="progress-label">
              <span class="title">نسبة التقدم</span>
              <span class="percentage">
                {{ getProgressPercentage(project) }}%
              </span>
            </div>
            <div class="progress-bar">
              <div
                class="progress"
                [style.width.%]="getProgressPercentage(project)"
              ></div>
            </div>
          </div>

          <!-- الهدف -->
          <div class="goal">
            الهدف: {{ project.targetAmount | number }} جنيه
          </div>

          <!-- زر التبرع -->
          <button (click)="goToPayment(project.id)" class="btn-donate">
            <i class="fa-solid fa-hand-holding-dollar"></i> تبرع الآن
          </button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>

<!-- >>>>>>>>>>>>>> Our Volunteers -->
<section class="our-volunteers">
  <div class="container">
    <h2 class="section-title">أبرز المتطوعين</h2>
    <div class="volunteers-grid">
      <div class="volunteer-card">
        <img src="/Images/Volunteer-1.png" alt="Sarah" />
        <h4>سارة</h4>
        <p>قائد برنامج التعليم</p>
      </div>
      <div class="volunteer-card">
        <img src="/Images/Volunteer-2.png" alt="Ali" />
        <h4>على</h4>
        <p>قائد برنامج الصحة</p>
      </div>
      <div class="volunteer-card">
        <img src="/Images/Volunteer-3.png" alt="Sarah" />
        <h4>مى</h4>
        <p>قائدة برنامج الإطعام</p>
      </div>
      <div class="volunteer-card">
        <img src="/Images/Volunteer-4.png" alt="Omar" />
        <h4>محمد</h4>
        <p>قائد برنامج التعليم</p>
      </div>
    </div>
  </div>
</section>

<!-- >>>>>>>>>>> How to Help -->
<section class="how-to-help">
  <div class="container">
    <h2 class="section-title">كيف يمكنك المساعدة؟</h2>

    <div class="help-grid">
      <!-- Card 1 -->
      <div class="help-card">
        <i class="bi bi-cash-coin icon-custom"></i>
        <h3>التبرعات</h3>
        <ul class="help-list">
          <li><i class="bi bi-check2"></i> تبرعات مرة واحدة أو شهرية</li>
          <li><i class="bi bi-check2"></i> تبرعات عينية</li>
          <li><i class="bi bi-check2"></i> رعاية شركات</li>
        </ul>
      </div>

      <!-- Card 2 -->
      <div class="help-card">
        <i class="bi bi-people-fill icon-custom"></i>
        <h3>التطوع</h3>
        <ul class="help-list">
          <li><i class="bi bi-check2"></i> دعم الفعاليات</li>
          <li><i class="bi bi-check2"></i> تطوع حسب المهارات</li>
          <li><i class="bi bi-check2"></i> المشاركة المجتمعية</li>
        </ul>
      </div>

      <!-- Card 3 -->
      <div class="help-card">
        <i class="bi bi-heart icon-custom"></i>
        <h3>الحصول على الدعم</h3>
        <ul class="help-list">
          <li><i class="bi bi-check2"></i> تقديم طلب مساعدة</li>
          <li><i class="bi bi-check2"></i> الوصول للموارد</li>
          <li><i class="bi bi-check2"></i> الانضمام للبرامج</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- >>>>>>>>>>>>>> Become a Volunteer -->
<section class="volunteer-join">
  <div class="container">
    <div class="volunteer-box">
      <div class="volunteer-text">
        <h2>كن متطوعًا</h2>
        <p>
          انضم إلى مجتمع المتطوعين الملتزمين وساعد في إحداث فرق في حياة الناس.
          نرحب بجميع الأفراد من مختلف الخلفيات ممن يشاركوننا شغفنا في مساعدة
          الآخرين.
        </p>
        <ul>
          <li>
            <span><i class="fa-solid fa-circle-check"></i></span> خيارات جدول
            مرنة
          </li>
          <li>
            <span><i class="fa-solid fa-circle-check"></i></span> تدريب مقدم
          </li>
          <li>
            <span><i class="fa-solid fa-circle-check"></i></span> أدوار متنوعة
            متاحة
          </li>
          <li>
            <span><i class="fa-solid fa-circle-check"></i></span> صنع تأثير
            حقيقي
          </li>
        </ul>
        <button class="btn-apply">
          <i class="fa-solid fa-hands-helping"></i><span> قدّم الآن </span>
        </button>
      </div>

      <div class="volunteer-items">
        <!-- col-1 -->
        <div class="col-1">
          <div class="img-container">
            <img src="/Images/vol-gall-1.avif" alt="متطوع 1" />
            <div class="overlay">
              <h2>التعاون</h2>
              <p>مساهمة في نشاط خيري</p>
            </div>
          </div>

          <div class="img-container">
            <img src="/Images/vol-gall-2.avif" alt="متطوع 2" />
            <div class="overlay">
              <h2>الاصرار</h2>
              <p>مبادرة بيئية</p>
            </div>
          </div>

          <div class="img-container">
            <img src="/Images/vol-gall-4.avif" alt="متطوع 4" />
            <div class="overlay">
              <h2>التشرد</h2>
              <p> رعاية الأطفال</p>
            </div>
          </div>
        </div>

        <!-- col-2 -->
        <div class="col-2">
          <div class="img-container">
            <img src="/Images/vol-gall-3.avif" alt="متطوع 3" />
            <div class="overlay">
              <h2>إطعام</h2>
              <p>توزيع مساعدات</p>
            </div>
          </div>
        </div>
        <!-- col-3 -->
        <div class="col-3">
          <div class="img-container">
            <img src="/Images/vol-gall-5.avif" alt="متطوع 5" />
            <div class="overlay">
              <h2>الرحمة</h2>
              <p>مساعده الاطفال</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- >>>>>>>>>>>> Make a Donation -->
<section class="donation-section">
  <div class="donat">
    <h1>تبرع الآن</h1>

  <!-- اختيار مجال التبرع -->
  <div class="purpose-box">
    <h2>اختر مجال تبرعك</h2>
    <div class="select-wrapper">
      <select class="purpose-select">
        <option>تبرع عام</option>
        <option>كفالة يتيم</option>
        <option>تجديد مساجد</option>
        <option>إغاثة محتاجين</option>
        <option>بناء آبار</option>
        <option>تعليم أطفال</option>
        <option>إطعام مساكين</option>
        <option>كسوة شتوية</option>
      </select>
    </div>
  </div>

  <!-- اختيار المبلغ -->
  <div class="amount-selector">
    <h2>حدد قيمة التبرع</h2>
    <div class="amount-buttons">
      <button class="amount-option">100 ج.م</button>
      <button class="amount-option">250 ج.م</button>
      <button class="amount-option">500 ج.م</button>
      <button class="amount-option">1000 ج.م</button>
    </div>

    <div class="custom-amount">
      <input type="number" placeholder="مبلغ آخر" min="0" step="10" />
    </div>

    <label class="monthly-donation">
      <input type="checkbox" />
      <span>تفعيل التبرع الشهري</span>
    </label>
  </div>

  <div class="separator"></div>

  <button class="payment-button">
    <span>إتمام عملية الدفع</span>
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  </div>
</section>

<!-- >>>>>>>>>>>>>>>>> Find Us -->
<section class="contact-section" id="contact">
  <div class="contact-container">
    <!-- معلومات التواصل -->
    <div class="contact-info wow fadeInRight">
      <h2><i class="bi bi-chat-dots-fill"></i> تواصل معنا</h2>

      <div class="contact-item">
        <i class="bi bi-geo-alt-fill icon"></i>
        <p>مصر، المنوفية، شبين الكوم، شبرا خلفون</p>
      </div>

      <div class="contact-item">
        <i class="bi bi-envelope-fill icon"></i>
        <a href="mailto:givinghands.contact@gmail.com"
          >givinghands.contactgmail.com</a
        >
      </div>

      <div class="contact-item">
        <i class="bi bi-whatsapp icon"></i>
        <a href="https://wa.me/201153008952" target="_blank">01153008952</a>
      </div>

      <div class="contact-item copy-number">
        <i class="bi bi-phone-fill icon"></i>
        <span id="copyNumber">01025363285</span>
      </div>
    </div>

    <!-- الخريطة -->
    <div class="map-wrapper wow fadeInLeft">
      <iframe
        id="liveMap"
        src="https://www.google.com/maps?q=شبرا خلفون شبين الكوم المنوفية مصر&output=embed"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
