.profile-settings {
    background-color: #f4f4f4;
    padding: 1rem;
    min-height: 40vh;
    border-radius: 15px;

    .user-img {
        width: 100px;
        height: 100px;   
    }

    .select-left-arrow {
        background-position: left 0.75rem center;
        padding-left: 2rem;
        padding-right: 0.75rem;
        direction: rtl;
    }

    .no-default-icon::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .letter-avatar {
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
    }
}
:host ::ng-deep .toast-container {
    margin-top: 48px !important;
    margin-right: 6px !important;
  }
  