<div class="profile-settings" dir="rtl">
  <h2>إعدادات الملف الشخصي</h2>

  <form>
    <div class="form-row">
      <div class="avatar-wrapper">
        <ng-container *ngIf="userImageUrl; else letterAvatar">
          <img [src]="userImageUrl" alt="صورة المستخدم" />
        </ng-container>

        <ng-template #letterAvatar>
          <div
            class="letter-avatar"
            [ngStyle]="{ 'background-color': getRandomColor(userFullName) }"
          >
            {{ getFirstLetter(userFullName) }}
          </div>
        </ng-template>

        <button type="button" class="change-photo">
          <i class="bi bi-camera"></i>
        </button>
      </div>
    </div>

    <div class="form-grid">
      <label>
        الاسم الكامل
        <input
          type="text"
          formControlName="fullName"
          placeholder="أدخل اسمك الكامل"
        />
      </label>

      <label>
        البريد الإلكتروني
        <input
          type="email"
          formControlName="email"
          placeholder="example@domain.com"
        />
      </label>

      <label>
        النوع
        <select formControlName="gender">
          <option value="Male">ذكر</option>
          <option value="Female">أنثى</option>
        </select>
      </label>

      <label>
        تاريخ الميلاد
        <input type="date" formControlName="dob" />
      </label>

      <label>
        رقم الهاتف
        <input
          type="text"
          formControlName="phone"
          placeholder="+201025363285"
        />
      </label>

      <label>
        العنوان
        <input
          type="text"
          formControlName="address"
          placeholder="المنوفية شبين الكوم"
        />
      </label>
    </div>

    <button type="submit" class="save-btn">حفظ التغييرات</button>
  </form>
</div>
