.profile-settings {
    background-color: #f4f4f4;
    padding: 1rem;
    min-height: 40vh;
    border-radius: 15px;

    .user-img {
        width: 100px;
        height: 100px;
    }

    .no-arrow {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: none !important;
    }

    .no-default-icon::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .letter-avatar {
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
    }
}

:host ::ng-deep .toast-container {
    margin-top: 48px !important;
    margin-right: 6px !important;
}

.error-message {
    color: #ffb902;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    text-align: right;
    /* أضف هذا السطر */
}

.image-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    cursor: zoom-out;

    img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
        transition: transform 0.3s ease-in-out;
    }
}