<section class="container profile-settings pb-5">
  <div class="row g-4 flex-row-reverse">
    <!-- صورة المستخدم -->
    <div class="col-md-6">
      <div class="bg-white shadow-sm rounded p-4 text-center">
        <div class="avatar-wrapper d-inline-block position-relative">
          <ng-container *ngIf="userImageUrl; else letterAvatar">
            <img
              [src]="userImageUrl"
              alt="صورة المستخدم"
              class="rounded-circle user-img"
            />
          </ng-container>

          <ng-template #letterAvatar>
            <div
              class="letter-avatar rounded-circle d-flex justify-content-center align-items-center text-white"
              [ngStyle]="{
                'background-color': getRandomColor(userFullName),
                width: '100px',
                height: '100px',
                fontSize: '36px'
              }"
            >
              {{ getFirstLetter() }}
            </div>
          </ng-template>
        </div>

        <!-- زر رفع الصورة -->
        <input
          type="file"
          #fileInput
          accept="image/*"
          hidden
          (change)="onImageSelected($event)"
        />
        <button
          type="button"
          class="btn btn-warning w-100 mt-3"
          (click)="fileInput.click()"
        >
          <i class="bi bi-upload"></i> رفع صورة
        </button>

        <!-- زر حذف الصورة -->
        <button
          *ngIf="userImageUrl"
          type="button"
          class="btn btn-outline-danger w-100 mt-2"
          (click)="removeImage()"
        >
          <i class="bi bi-trash"></i> حذف الصورة
        </button>
      </div>
    </div>

    <!-- بيانات المستخدم -->
    <div class="col-md-6">
      <div class="bg-white shadow-sm rounded p-4">
        <h4 class="text-center mb-4 text-warning">تعديل المستخدم</h4>

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label d-block text-end">الاسم الأول</label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">اسم العائلة</label>
              <input
                type="text"
                formControlName="lastName"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">البريد الإلكتروني</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">رقم الهاتف</label>
              <input type="text" formControlName="phone" class="form-control" />
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">العنوان</label>
              <input
                type="text"
                formControlName="address"
                class="form-control"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">النوع</label>
              <select
                formControlName="gender"
                class="form-select select-left-arrow"
              >
                <option value="Male">ذكر</option>
                <option value="Female">أنثى</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label d-block text-end">تاريخ الميلاد</label>
              <div class="input-group flex-row-reverse">
                <span class="input-group-text"
                  ><i class="bi bi-calendar3"></i
                ></span>
                <input
                  type="date"
                  formControlName="dob"
                  class="form-control no-default-icon text-end"
                />
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn btn-warning w-100">تحديث</button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-danger w-100"
                (click)="onCancel()"
              >
                إلغاء
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
