<section class="dashboard-container">
  <div class="container d-flex justify-content-between align-items-center">
    <h2 class="title">إدارة المستخدمين</h2>
    <div class="d-flex gap-2">
      <!-- <button class="btn add" (click)="addUser()">
        <i class="bi bi-person-plus-fill border-0 rounded-1 ps-2"></i> إضافة
        مستخدم
      </button> -->
      <button class="btn export" (click)="exportToExcel()">
        <i class="bi bi-download border-0 rounded-1 ps-2"></i> تصدير Excel
      </button>
    </div>
  </div>

  <table class="users-table">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>الصورة</th>
        <th>الاسم</th>
        <th>البريد الإلكتروني</th>
        <th>الجنس</th>
        <th>العنوان</th>
        <th>رقم الهاتف</th>
        <th>العمر</th>
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users; let i = index"
        [class.selected]="selectedUserId === user.id"
        (click)="selectRow(user.id)"
      >
        <td>
          <i
            *ngIf="selectedUserId === user.id"
            class="bi bi-box-arrow-left"
            style="color: #f39c12; font-size: 1.2rem"
          ></i>
        </td>
        <td>{{ i + 1 }}</td>
        <td>
          <img
            [src]="user.imageUrl"
            alt="User Image"
            class="user-image"
            style="cursor: pointer"
            (click)="openImageModal(user.imageUrl)"
            data-bs-toggle="modal"
            data-bs-target="#userImageModal"
          />
        </td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ getGenderText(user.gender) }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.age }}</td>
        <td class="actions" (click)="$event.stopPropagation()">
          <button class="btn danger" (click)="deleteUser(user)">حذف</button>
          <button class="btn success" (click)="contactUser(user)">تواصل</button>
          <button
            class="btn"
            [ngClass]="user.isActive ? 'warning' : 'success'"
            (click)="toggleStatus(user)"
          >
            {{ user.isActive ? "قفل الحساب" : "فتح الحساب" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Modal -->
<section
  class="modal fade"
  id="userImageModal"
  tabindex="-1"
  aria-labelledby="userImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div
        class="modal-header border-bottom-1 d-flex justify-content-around p-0"
      >
        <h5 class="modal-title" id="userImageModalLabel">صورة المستخدم</h5>
        <button
          type="button"
          class="btn-close me-auto m-0"
          data-bs-dismiss="modal"
          aria-label="إغلاق"
        ></button>
      </div>
      <div class="modal-body text-center">
        <img
          [src]="selectedImageUrl"
          class="img-fluid rounded shadow"
          style="max-height: 500px"
        />
      </div>
    </div>
  </div>
</section>
