<section class="dashboard-container">
  <div class="container d-flex justify-content-between align-items-center pb-3">
    <h2 class="title">إدارة المستخدمين</h2>
    <div class="d-flex gap-6">
      <button class="btn btn-success" (click)="contactAllUser()">
        <span
          class="p-button-icon bi bi-chat-left-text"
          aria-hidden="true"
        ></span>
        &nbsp; &nbsp;رساله للجميع
      </button>
    </div>
    <div class="d-flex gap-4">
      <button class="btn export" (click)="exportToExcel()">
        <i class="bi bi-download border-0 rounded-1 ps-2"></i> تصدير Excel
      </button>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table
      showGridlines
      [size]="'small'"
      [value]="users"
      selectionMode="single"
      [(selection)]="selectedUserId"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [responsiveLayout]="'scroll'"
      [resizableColumns]="true"
      class="p-datatable-striped"
      [filters]="filters"
      (onFilter)="onFilter($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>#</th>
          <th>الصورة</th>
          <th pSortableColumn="firstName">
            الاسم
            <p-columnFilter
              type="text"
              field="firstName"
              display="menu"
              placeholder="ابحث بالاسم"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="email">
            البريد الإلكتروني
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
              placeholder="ابحث بالبريد"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="gender">
            الجنس
            <p-columnFilter
              field="gender"
              matchMode="equals"
              display="menu"
              [showOperator]="false"
              [showMenu]="true"
            >
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-dropdown
                  [options]="genderFilterOptions"
                  (onChange)="filter($event.value)"
                  placeholder="اختر الجنس"
                  [style]="{ width: '100%' }"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>

          <th pSortableColumn="address">
            العنوان
            <p-columnFilter
              type="text"
              field="address"
              display="menu"
              placeholder="ابحث بالعناوين"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="phoneNumber">
            رقم الهاتف
            <p-columnFilter
              type="text"
              field="phoneNumber"
              display="menu"
              placeholder="ابحث برقم الهاتف"
            ></p-columnFilter>
          </th>
          <th>الإجراءات</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
        <tr [pSelectableRow]="user" (click)="selectRow(user.id)">
          <td>
            <i
              *ngIf="selectedUserId === user.id"
              class="bi bi-box-arrow-left selected-icon"
            ></i>
          </td>
          <td>{{ rowIndex + 1 }}</td>
          <td>
            <img
              [src]="getUserImage(user)"
              alt="User Image"
              class="user-thumbnail"
              (click)="openImage(getUserImage(user))"
            />
          </td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ getGenderText(user.gender) }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td class="actions">
            <!-- Delete -->
            <button
              pButton
              type="button"
              icon="bi bi-trash"
              class="custom-danger-button p-button-sm me-1"
              pTooltip="حذف المستخدم"
              (click)="deleteUser(user); $event.stopPropagation()"
            ></button>

            <!-- Close -->
            <button
              *ngIf="!user.isLocked"
              pButton
              type="button"
              icon="bi bi-lock"
              class="custom-warning-button p-button-sm me-1"
              pTooltip="قفل الحساب"
              (click)="lockAccount(user); $event.stopPropagation()"
            ></button>

            <!-- Open-->
            <button
              *ngIf="user.isLocked"
              pButton
              type="button"
              icon="bi bi-unlock"
              class="custom-success-button p-button-sm me-1"
              pTooltip="فتح الحساب"
              (click)="unlockAccount(user); $event.stopPropagation()"
            ></button>

            <!-- notifications -->
            <button
              pButton
              type="button"
              icon="bi bi-bell"
              class="custom-notification-button p-button-sm me-1"
              pTooltip="عرض رسائل المستخدم"
              (click)="showUserMessages(user)"
            ></button>

            <!-- contact -->
            <button
              pButton
              type="button"
              icon="bi bi-chat-left-text"
              class="custom-info-button p-button-sm"
              pTooltip="التواصل مع المستخدم"
              (click)="contactUser(user); $event.stopPropagation()"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="imageDialogVisible"
    [modal]="true"
    header="صورة المستخدم"
    [dismissableMask]="true"
    class="custom-dialog"
  >
    <img
      [src]="selectedImageUrl"
      class="img-fluid rounded shadow image-dialog"
    />
  </p-dialog>
</section>
