<section class="container password-section mb-5">
  <div class="card p-4 shadow-sm">
    <h3 class="text-center text-warning mb-3">تعديل كلمة المرور</h3>
    <hr />

    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <!-- البريد الإلكتروني -->
    <div class="position-relative mb-3">
  <label class="form-label d-block text-end">البريد الإلكتروني</label>
  <input
    type="email"
    formControlName="email"
    class="form-control"
    readonly
  />
</div>


      <div class="row">
        <!-- كلمة المرور الجديدة -->
        <div class="col-md-6 mb-3">
          <label class="form-label d-block text-end">كلمة المرور الجديدة</label>
          <div class="input-group">
            <input
              [type]="showNewPassword ? 'text' : 'password'"
              formControlName="newPassword"
              (input)="checkPasswordStrength()"
              class="form-control"
              placeholder="أدخل كلمة المرور الجديدة"
            />
            <span class="input-group-text password-toggle" (click)="toggleShowNewPassword()">
              <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
            </span>
          </div>
          
          <div class="text-danger text-end small" *ngIf="passwordForm.get('newPassword')?.errors  &&
            (passwordForm.get('newPassword')?.touched || passwordForm.get('newPassword')?.dirty)">
            يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل، حرف كبير، رقم ورمز
          </div>
          <div class="password-strength mt-2">
            <div class="strength-bar" [ngClass]="getStrengthClass()" [style.width.%]="passwordStrength"></div>
          </div>
          <div class="text-end small mt-1 fw-bold text-muted">
            {{ passwordStrengthLabel }}
          </div>
        </div>

        <!-- تأكيد كلمة المرور -->
        <div class="col-md-6 mb-3">
          <label class="form-label d-block text-end">تأكيد كلمة المرور الجديدة</label>
          <div class="input-group">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="أعد إدخال كلمة المرور"
            />
            <span class="input-group-text password-toggle" (click)="toggleShowConfirmPassword()">
              <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
            </span>
          </div>
          <div class="text-danger text-end small" *ngIf="passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty">
            <span
            *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
            >كلمة المرور مطلوبة</span
          >
          <span
          *ngIf="passwordForm.hasError('mismatch') && !passwordForm.get('confirmPassword')?.errors?.['required']"
        >
          كلمة المرور غير متطابقة
        </span>
          </div>
        </div>
      </div>

      <!-- الأزرار -->
      <div class="d-flex justify-content-between gap-2">
        <button type="submit"  [disabled]="!passwordForm.valid || isLoading" class="btn btn-warning w-50" [disabled]="isLoading">
           <span *ngIf="!isLoading">          <i class="bi bi-check-lg"></i> تحديث</span>
        
        <span *ngIf="isLoading">جاري التحميل...</span>
<span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        </button>
        <button type="button" class="btn btn-danger w-50" (click)="onCancel()">
          <i class="bi bi-x-lg"></i> إلغاء
        </button>
      </div>
    </form>
  </div>
</section>
