.close-btn {
    top: -15px;
    left: -16px;
  }
  .input-icon {
    top: 71%;
    left: 19px;
  }
  .emailIcon{ position: absolute;
    top: 36% !important;
    left: 57px !important;
    transform: translateY(0%) !important;
    color: rgba(255, 255, 255, 0.6);
  }
  .passIcon{
    top: 68% !important;
    left: 56px !important;
    transform: none !important;
  }