 <section class="login-container" *ngIf="step1">
    <div class="login-modal">
      <div class="modal-header">
        <h2 class="fw-bold">نسيت كلمة المرور</h2>
        <button class="close-btn" routerLink="/login">
          <i class="fa-solid fa-xmark fs-5"></i>
        </button>
      </div>
  
      <form (ngSubmit)="handelforgetpassword()" [formGroup]="forgetpasswordform">
        <div class="form-group mt-3">
          <div class="input-group">
            <label for="email" class="mb-3">البريد الالكتروني</label>
            <input type="email" class="form-control inps" id="email" formControlName="email" placeholder="ادخل البريد الالكتروني" />
            <div class="input-icon">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div *ngIf="forgetpasswordform.get('email')?.errors && forgetpasswordform.get('email')?.touched" class="text-danger mt-1">
            <span *ngIf="forgetpasswordform.get('email')?.errors?.['required']">الايميل مطلوب</span>
            <span *ngIf="forgetpasswordform.get('email')?.errors?.['email']">الايميل غير صالح</span>
          </div>
          <span class="text-danger mt-1">{{ message }}</span>
        </div>
  
        <button class="login-btn" [disabled]="!forgetpasswordform.valid || isloading" type="submit">
          <span *ngIf="!isloading">تأكيد</span>
          <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isloading">جاري التحميل...</span>
        </button>
  
        <div class="register-link" routerLink="/login">
          <span>ليس لديك حساب؟ </span>
          <a>أنشيء حساب جديد</a>
        </div>
      </form>
    </div>
  </section>
   
  <section class="login-container" *ngIf="step2">
    <div class="login-modal">
      <div class="modal-header">
        <h2 class="fw-bold">كود التفعيل</h2>
        <button class="close-btn" routerLink="/login">
            <i class="fa-solid fa-xmark fs-5"></i>
          </button>
      </div>
  
      <form (ngSubmit)="hanelResetCode()" [formGroup]="ResetCodeform">
        <div class="form-group mt-3">
          <label for="Code" class="mb-3">الكود</label>
          <p-inputotp  dir="ltr"  [formControlName]="'code'" [length]="6" type="tel" class="form-control inps inpTel text-start custom-otp" id="Code" />
          
          <div *ngIf="ResetCodeform.get('code')?.errors && ResetCodeform.get('code')?.touched" class="text-danger mt-1">
            <span *ngIf="ResetCodeform.get('code')?.errors?.['required']">الكود مطلوب</span>
          </div>
      
          <span class="text-danger mt-1">{{ message }}</span>
        </div>
      
        <button class="login-btn" [disabled]="!ResetCodeform.valid || isloading || codeInvalidLength" type="submit">
          <span *ngIf="!isloading">تأكيد</span>
          <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isloading">جاري التحميل...</span>
        </button>
      </form>
      
    </div>
  </section>
  
  <section class="login-container" *ngIf="step3">
    <div class="login-modal">
      <div class="modal-header">
        <h2 class="fw-bold">كلمة المرور الجديدة</h2>
        <button class="close-btn" routerLink="/login">
            <i class="fa-solid fa-xmark fs-5"></i>
          </button>
      </div>
  
      <form (ngSubmit)="handelnewPassword()" [formGroup]="newPasswordform">
        <div class="form-group mt-3">
          <label for="email" class="mb-3">البريد الالكتروني</label>
          <input type="email" class="form-control inps" id="email" formControlName="email" placeholder="ادخل البريد الالكتروني" />
          <!-- <div class="emailIcon">
            <i class="fa fa-user"></i>
          </div> -->
          <div *ngIf="newPasswordform.get('email')?.errors && newPasswordform.get('email')?.touched" class="text-danger mt-1">
            <span *ngIf="newPasswordform.get('email')?.errors?.['required']">الايميل مطلوب</span>
            <span *ngIf="newPasswordform.get('email')?.errors?.['email']">الايميل غير صالح</span>
          </div>
        </div>
  
        <div class="form-group mt-3">
          <label for="password" class="mb-3">كلمة المرور الجديدة</label>
          <input type="password" class="form-control inps" id="password" formControlName="password" placeholder="ادخل كلمة المرور الجديدة" />
          <!-- <div class="passIcon">
            <i class="fa fa-lock"></i>
        </div> -->
          <div *ngIf="newPasswordform.get('newPassword')?.errors && newPasswordform.get('password')?.touched" class="text-danger mt-1">
            <span *ngIf="newPasswordform.get('password')?.errors?.['required']"
                  >كلمة المرور مطلوبة</span
                >
                <span *ngIf="newPasswordform.get('password')?.errors?.['minlength']"
                  >يجب أن تحتوي على 8 أحرف على الأقل</span
                >
                <span *ngIf="newPasswordform.get('password')?.errors?.['pattern']">
                  يجب أن تشمل حروف، أرقام، ورمز مثل (<strong>&commat;</strong>)
                </span>
          </div>
        </div>
  
        <div class="form-group mt-3">
          <label for="confirmPassword" class="mb-3">تاكيد كلمه المرور</label>
          <input type="confirmPassword" class="form-control inps" id="confirmPassword" formControlName="confirmPassword" placeholder="ادخل كلمة المرور الجديدة" />
          <!-- <div class="passIcon">
            <i class="fa fa-lock"></i>
        </div> -->
          <div *ngIf="newPasswordform.get('confirmPassword')?.errors && newPasswordform.get('confirmPassword')?.touched" class="text-danger mt-1">
            <span *ngIf="newPasswordform.get('confirmPassword')?.errors?.['required']">
              كلمة المرور مطلوبة
            </span>
           
            <span *ngIf="
                  newPasswordform.hasError('mismatch') &&
                  newPasswordform.get('confirmPassword')?.value &&
                  !newPasswordform.get('confirmPassword')?.errors?.['required']
                ">
              كلمة المرور غير متطابقة
            </span>
          </div>
        </div>
        <button class="login-btn" [disabled]="!newPasswordform.valid || isloading" type="submit">
          <span *ngIf="!isloading">تأكيد</span>
          <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isloading">جاري التحميل...</span>
        </button>
      </form>
    </div>
  </section>
  