.close-btn {
    top: -15px;
    left: -16px;
  }
  .input-icon {
    top: 71%;
    left: 19px;
  }
  .emailIcon{ 
    position: absolute;
    top: -30px !important;
    left: 21px !important;
    transform: translateY(0%) !important;
    color: rgba(255, 255, 255, 0.6);
  }
  .passIcon{
    top: 68% !important;
    left: 56px !important;
    transform: none !important;
  }
  .Eye1{
     position:absolute;
     top: -22px;
     left: 17px;
    color: rgba(255, 255, 255, 0.6);
     cursor: pointer; 
    z-index: 5;
    transform: translateY(-50%);
  }
  .Eye2{
    position:absolute;
    top: -30px;
    left: 17px; 
    color: rgba(255, 255, 255, 0.6);
     cursor: pointer; 
    z-index: 5;
  }
  p-inputotp input {
    direction: ltr !important;
    text-align: left !important;
  }
  :host ::ng-deep {
    .p-inputtext {
      text-align: center;
      border-radius: 8px;
      margin: 0 4px;
     
      &:focus {
        border: 2px solid #ffb700;
        box-shadow: 0 0 4px rgba(255, 183, 0, 0.4);
      }
    }
  }
  
  /* شاشات أصغر من أو تساوي 320px (هواتف صغيرة جداً) */
@media (max-width: 320px) {
  :host ::ng-deep .p-inputtext {
    width: 9vw;
    max-width: 26px;
    height: 30px;
    font-size: 13px;
    padding: 4px;
  }
}

/* من 321px إلى 375px (مثل iPhone SE / 13 Mini) */
@media (min-width: 321px) and (max-width: 375px) {
  :host ::ng-deep .p-inputtext {
   
    max-width: 19px;
    height: 31px;
    font-size: 14px;
    padding: 4px;
  }
}

/* من 376px إلى 425px (هواتف متوسطة الحجم) */
@media (min-width: 375px) and (max-width: 425px) {
  :host ::ng-deep .p-inputtext {
    width: 6.5vw;
    max-width: 30px;
    height: 32px;
    font-size: 15px;
    padding: 4px;
  }
}

/* من 426px إلى 768px (تابلت وأجهزة متوسطة) */
@media (min-width: 426px) and (max-width: 768px) {
  :host ::ng-deep .p-inputtext {
    
    max-width: 34px;
    height: 38px;
    font-size: 16px;
    padding: 5px;
  }
}

/* من 769px إلى 1024px (تابلت كبير أو لابتوب صغير) */
@media (min-width: 769px) and (max-width: 1024px) {
  :host ::ng-deep .p-inputtext {
  
    max-width: 34px;
    height: 40px;
    font-size: 17px;
    padding: 5px;
  }
}

/* ديسكتوب وأجهزة أكبر */
@media (min-width: 1025px) {
  :host ::ng-deep .p-inputtext {
   
    max-width: 34px;
    height: 42px;
    font-size: 18px;
    padding: 6px;
  }
}
