<section>
    <ul class="nav nav-tabs custom-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'accept'" (click)="selectedTab = 'accept'">التبرعات المقبولة</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'pending'" (click)="selectedTab = 'pending'">قيد المراجعة</a>
    </li>
  </ul>

  <div [ngSwitch]="selectedTab" class="fade-container">
    <div *ngSwitchCase="'accept'" class="fade-in">
      <app-accept-items></app-accept-items>
    </div>
    <div *ngSwitchCase="'pending'" class="fade-in">
      <app-pending-items></app-pending-items>
    </div>

  </div>

</section>