<p-card header="قائمة التوزيعات المنفذة">
  <p-table
    [value]="distributions"
    [paginator]="true"
    [rows]="5"
    [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '50rem' }"
    stripedRows
    showGridlines
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>اسم التبرع</th>
        <th>المستفيد</th>
        <th>المتطوع</th>
        <th>الكمية</th>
        <th>الوصف</th>
        <th>الإجراءات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dist let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ dist.donationName }}</td>

        <td>
          <button
            class="btn btn-link p-0 text-primary"
            (click)="viewUserDetails(dist.beneficiary)"
          >
            {{ dist.beneficiaryName }}
          </button>
        </td>

        <td>
          <button
            class="btn btn-link p-0 text-primary"
            (click)="viewUserDetails(dist.volunteer)"
          >
            {{ dist.volunteerName }}
          </button>
        </td>

        <td>{{ dist.quantity }}</td>
        <td>{{ dist.description }}</td>
        <td>
          <button
            class="btn btn-sm btn-warning ms-2"
            (click)="updateDistribution(dist)"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <button
            class="btn btn-sm btn-danger"
            (click)="deleteDistribution(dist)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
