<section class="Regiter d-flex align-items-center justify-content-center h-100">
  <div class="layOut"></div>

  <div class="regiterForm">
      <h3>إنشاء حساب الآن</h3>

      <form (ngSubmit)="SubmitRegister(registerForm)" [formGroup]="registerForm">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi id eius numquam. Ipsum, ducimus libero. Ad modi error molestiae? Eum quasi quaerat, porro sed in numquam distinctio iure perspiciatis! Iusto!</p>
          <div class="d-flex gap-3 mt-3">
              <!-- الاسم الأول -->
              <div class="form-group w-50">
                  <label for="firstName" class="mb-3">الاسم الأول</label>
                  <input type="text" class="form-control inps" id="firstName" formControlName="firstName"
                      placeholder="الاسم الأول" />
              </div>

              <!-- الاسم الأخير -->
              <div class="form-group w-50">
                  <label for="lastName" class="mb-3">الاسم الأخير</label>
                  <input type="text" class="form-control inps" id="lastName" formControlName="lastName"
                      placeholder="الاسم الأخير" />
              </div>
          </div>

          <!-- العنوان -->
          <div class="form-group mt-3">
              <label for="address" class="mb-3">العنوان</label>
              <input type="text" class="form-control inps" id="address" formControlName="address"
                  placeholder="أدخل العنوان" />
          </div>

          <!-- رقم الهاتف -->
          <div class="form-group mt-3">
              <label for="phoneNumber" class="mb-3">رقم الهاتف</label>
              <input type="text" class="form-control inps" id="phoneNumber" formControlName="phoneNumber"
                  placeholder="أدخل رقم الهاتف" />
          </div>

          <!-- تاريخ الميلاد -->
          <div class="form-group mt-3">
              <label for="dateOfBirth" class="mb-3">تاريخ الميلاد</label>
              <input type="text" class="form-control inps" id="dateOfBirth" formControlName="dateOfBirth"
                  placeholder="يوم/شهر/سنة" />
          </div>

          <!-- الجنس -->
          <div class="form-group mt-3">
              <label for="gender" class="mb-3">الجنس</label>
              <select class="custom-select gendeer" id="gender" formControlName="gender">
                  <option  disabled selected class="genderSelected">اختر</option>
                  <option [value]="1">ذكر</option>
                  <option [value]="2">أنثى</option>
              </select>
          </div>

          <!-- البريد الإلكتروني -->
          <div class="form-group mt-3">
              <label for="email" class="mb-3">البريد الإلكتروني</label>
              <input type="email" class="form-control inps" id="email" formControlName="email"
                  placeholder="أدخل البريد الإلكتروني" />
          </div>

          <!-- كلمة المرور -->
          <div class="form-group mt-3">
              <label for="password" class="mb-3">كلمة المرور</label>
              <input type="password" class="form-control inps" formControlName="password" id="password"
         placeholder="أدخل كلمة المرور" autocomplete="new-password" />

          </div>

          <!-- تأكيد كلمة المرور -->
          <div class="form-group mt-3">
              <label for="confirmPassword" class="mb-3">تأكيد كلمة المرور</label>
              <input type="password" class="form-control inps" formControlName="confirmPassword" id="confirmPassword"
              placeholder="تأكيد كلمة المرور" autocomplete="new-password" />
          </div>

          <!-- اختيار نوع المستخدم -->
          <div class="role-selection mt-3">
              <label class="role-option">
                  <input type="radio" formControlName="userType"   [value]="2"> متطوع
              </label>

              <label class="role-option">
                  <input type="radio" formControlName="userType" [value]="3" checked> <strong>متبرع</strong>
              </label>

              <label class="role-option">
                  <input type="radio" formControlName="userType" [value]="1"> مستفيد
              </label>
          </div>

          <!-- زر التسجيل -->
          <button class="btnRegster btns" type="submit">
              <span >إنشاء حساب</span>
          </button>

          <!-- رابط تسجيل الدخول -->
          <a [routerLink]="'/login'" class="btns btnSign w-100 d-block text-center fw-bolder">تسجيل الدخول</a>

          <p class="text-center">أو</p>

          <!-- تسجيل الدخول عبر فيسبوك -->
          <a href="https://www.facebook.com/" class="btnRegster btns form-control text-center"
              style="background-color: transparent; text-decoration: none; margin-bottom: 30px ">
              <span><i class="fa-brands fa-facebook fs-4 mx-3" style="color: #1877F2;"></i>إنشاء حساب باستخدام
                  الفيسبوك</span>
          </a>

          <!-- تسجيل الدخول عبر جوجل -->
          <a href="https://www.google.com/" class="btnRegster btns form-control text-center"
              style="background-color: transparent; text-decoration: none; margin-bottom: 30px ">
              <span><svg style=" margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30"
                      height="30" viewBox="0 0 48 48">
                      <path fill="#FFC107"
                          d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                      </path>
                      <path fill="#FF3D00"
                          d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                      </path>
                  </svg> إنشاء حساب باستخدام جوجل</span>
          </a>
      </form>
  </div>
</section>
