<div class="containerRegister">
  <div class="login-modal">
    <div class="modal-header">
      <h2 class="fw-bold">إنشاء حساب الآن</h2>
      <button class="close-btn" routerLink="/donor">
        <i class="fa-solid fa-xmark fs-5"></i>
      </button>
    </div>

    <form (ngSubmit)="SubmitRegister(registerForm)" [formGroup]="registerForm">
      <!-- First Name and Last Name -->
      <div class="form-group">
        <!-- First Name -->
        <div class="input-group">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            placeholder="الاسم الأول"
          />
          <div class="input-icon">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.get('firstName')?.errors &&
            (registerForm.get('firstName')?.touched ||
              registerForm.get('firstName')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('firstName')?.getError('required')"
            >الاسم مطلوب</span
          >
          <span *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
            >يجب أن يكون أكثر من 3 حروف</span
          >
        </div>

        <!-- Last Name -->
        <div class="form-group mt-3">
          <div class="input-group">
            <input
              autocomplete="off"
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              placeholder="الاسم الأخير"
            />
            <div class="input-icon">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div
            class="error-message"
            *ngIf="
              registerForm.get('lastName')?.errors &&
              (registerForm.get('lastName')?.touched ||
                registerForm.get('lastName')?.dirty)
            "
          >
            <span *ngIf="registerForm.get('lastName')?.getError('required')"
              >الاسم مطلوب</span
            >
            <span *ngIf="registerForm.get('lastName')?.errors?.['minlength']"
              >يجب أن يكون أكثر من 3 حروف</span
            >
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="form-group">
        <div class="input-group">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="address"
            formControlName="address"
            placeholder="العنوان"
          />
          <div class="input-icon">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.get('address')?.errors &&
            (registerForm.get('address')?.touched ||
              registerForm.get('address')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('address')?.getError('required')"
            >العنوان مطلوب</span
          >
          <span *ngIf="registerForm.get('address')?.getError('minlength')"
            >يجب ان يكون اكتر من 5 حروف</span
          >
        </div>
      </div>

      <!-- Phone Number -->
      <div class="form-group">
        <div class="input-group">
          <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phoneNumber"
            placeholder="رقم الهاتف"
          />
          <div class="input-icon">
            <i class="fa fa-phone"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.get('phoneNumber')?.errors &&
            (registerForm.get('phoneNumber')?.touched ||
              registerForm.get('phoneNumber')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('phoneNumber')?.getError('required')"
            >الرقم مطلوب</span
          >
          <span *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']"
            >يجب أن يكون 11 رقم</span
          >
        </div>
      </div>

      <!-- Date of Birth -->
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            placeholder="تاريخ الميلاد"
          />
          <div class="input-icon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.get('dateOfBirth')?.errors &&
            (registerForm.get('dateOfBirth')?.touched ||
              registerForm.get('dateOfBirth')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('dateOfBirth')?.getError('required')"
            >تاريخ الميلاد مطلوب</span
          >
          <span *ngIf="registerForm.get('dateOfBirth')?.errors?.['pattern']"
            >مثال (28-07-2003)</span
          >
        </div>
      </div>

      <!-- Gender -->
      <div class="input-group mb-3">
        <select
          class="form-control gender-select"
          id="gender"
          formControlName="gender"
          required
        >
          <option [value]="" disabled selected hidden>اختر النوع</option>
          <option [value]="1">ذكر</option>
          <option [value]="2">أنثى</option>
        </select>
        <div class="input-icon">
          <i class="fa fa-venus-mars"></i>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <div class="input-group">
          <input
            autocomplete="off"
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="البريد الإلكتروني"
          />
          <div class="input-icon">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.get('email')?.errors &&
            (registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('email')?.getError('required')"
            >البريد الاكتروني مطلوب</span
          >
          <span *ngIf="registerForm.get('email')?.errors?.['email']"
            >البريد الاكتروني غير صحيح</span
          >
        </div>
      </div>

      <!-- Password -->
      <div class="form-group position-relative">
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="off"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="كلمة المرور"
          />
      
          <!-- أيقونة العين -->
          <div 
            class="position-absolute" 
            style="top: 29%;
    left: 12px; color: rgba(255, 255, 255, 0.6); cursor: pointer; z-index: 5;"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa fa-eye"></i>
         
          </div>
        </div>
      
        <!-- رسائل الخطأ -->
        <div
          class="error-message"
          *ngIf="
            registerForm.get('password')?.errors &&
            (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
          "
        >
          <span *ngIf="registerForm.get('password')?.errors?.['required']">
            كلمة المرور مطلوبة
          </span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
            يجب أن تحتوي على 8 أحرف على الأقل
          </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
            يجب أن تشمل حروف، أرقام، ورمز مثل (<strong>&commat;</strong>)
          </span>
        </div>
      </div>
      

      <!-- Confirm Password -->
      <div class="form-group">
        <div class="input-group position-relative">
          <input
            [type]="showPassword2 ? 'text' : 'password'"
            autocomplete="off"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="تأكيد كلمة المرور"
          />
      
          <!-- أيقونة العين -->
          <div 
          class="position-absolute" 
          style="top: 29%;
  left: 12px; color: rgba(255, 255, 255, 0.6); cursor: pointer; z-index: 5;"
          (click)="togglePasswordVisibility2()"
        >
          <i class="fa fa-eye"></i>
       
        </div>
        </div>
      
        <div class="error-message"
          *ngIf="registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty"
        >
          <span *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
            كلمة المرور مطلوبة
          </span>
          <span
            *ngIf="
              registerForm.hasError('mismatch') &&
              registerForm.get('confirmPassword')?.value &&
              !registerForm.get('confirmPassword')?.errors?.['required']
            "
          >
            كلمة المرور غير متطابقة
          </span>
        </div>
      </div>
      

      <!-- User Type -->
      <div class="role-selection mt-3">
        <label class="role-option">
          <input type="radio" formControlName="userType" [value]="2" /> متطوع
        </label>
        <label class="role-option">
          <input type="radio" formControlName="userType" [value]="3" checked />
          <strong>متبرع</strong>
        </label>
        <label class="role-option">
          <input type="radio" formControlName="userType" [value]="1" /> مستفيد
        </label>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="login-btn"
        [disabled]="!registerForm.valid || isloading"
      >
        <span *ngIf="!isloading">إنشاء حساب</span>
        <span *ngIf="isloading">جاري التحميل...</span>
        <span
          *ngIf="isloading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>

      <div class="divider">
        <span>أو تواصل معنا عبر</span>
      </div>

      <div class="social-login">
        <button type="button" class="facebook-btn">
          <span>فيسبوك</span>
          <i class="fa-brands fa-facebook-f"></i>
        </button>
        <button type="button" class="google-btn">
          <span>جوجل</span>
          <i class="fa-brands fa-google"></i>
        </button>
      </div>

      <div class="register-link" routerLink="/login">
        <span>لديك حساب؟ </span>
        <a>تسجيل الدخول</a>
      </div>
    </form>
  </div>
</div>
