.login-modal {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  margin: 50px auto;
  max-width: 700px;
  max-height: 79vh;
  overflow-y: auto;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h2 {
  font-size: 1.5rem;
  margin: 0; 
  padding: 0px;
  padding-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}


.role-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 10px 20px;
    border-radius: 10px;
  }
  .role-option {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white; /* Text color */
    font-weight: 400;
  }
  input[type="radio"] {
    accent-color: #B88E2F;
    margin: 10px;
  }/* جعل الـ input شفافًا */
  .custom-select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #fff;
    appearance: none; /* يخفي السهم الافتراضي */
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    cursor: pointer;
  }
  
  /* إضافة سهم مخصص */
  .custom-select-wrapper {
    position: relative;
  }
  
  .custom-select-wrapper::after {
    content: "\25BC"; /* سهم ▼ */
    font-size: 20px;
    color: #555;
    position: absolute;
    left: 15px;
    top: 77%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .gendeer{
    padding: 10px 15px;
    outline: none !important;
    border: none;
    background: #9F9F9F26;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    
  }
  option{
    color: black !important;
  }