<!-- >>>>>>>>>>>>>>>>>>>>> Header -->
<header class="hero text-white text-center py-5 position-relative">
  <img src="/Images/Image.png" alt="خلفية" class="hero-img" />
  <div class="hero-overlay"></div>

  <div class="container position-relative" style="padding-top: 51px;">
    <h1>
      <span class="text-warning">سهل الاستخدام</span> عند إنشاء حساب معنا، يجب
      عليك تزويدنا بمعلوماتك
    </h1>
    <p class="lead">
      تبرع الآن باستخدام بطاقتك الائتمانية أو المحفظة الإلكترونية المفضلة لديك.
    </p>
  </div>
</header>

<!-- payment-container -->
<main class="payment-container">
  <div class="payment-box">
    <h2>تبرع لمشروع <span class="font-bold">{{ name }}</span></h2>

    

    <div class="donation-inputs row g-2 mb-3">
      <input type="number" id="amount" placeholder="قيمة التبرع (ج.م)" min="0" step="10" class="phone-input"
             [(ngModel)]="amount" aria-label="Donation Amount" />
    </div>
  <div >
      <p class="secure-note">
        <i class="bi bi-shield-lock"></i> يجب أن يكون المبلغ لا يقل عن 26 جنيهًا
      </p>
    </div>
    <div class="secure-labels">
      <span class="ssl"><i class="bi bi-lock"></i> اتصال آمن (SSL)</span>
      <span class="pci"><i class="bi bi-check-circle"></i> متوافق مع PCI DSS</span>
    </div>

    <button class="donate-btn" [disabled]="amount <= 25" (click)="onDonateNow()">تبرع الآن</button>
    <p class="terms-text">
      بالضغط على "تبرع الآن"، فإنك توافق على
      <a href="#">الشروط والأحكام</a>
    </p>
  </div>
</main>