<div class="wave-container">
  <div class="wave"></div>
</div>

<footer class="footer">
  <div class="footer__container">
    <div class="footer__brand">
      <div class="footer__logo">
        <span>يـــــــد</span>
        <img src="/Images/image 33.svg" alt="شعار الجمعية" />
        <span>العطاء</span>
      </div>
      <p class="footer__charity">جمعية خيرية</p>
      <p class="footer__description">
        تعزيز العمل الخيري من خلال التكنولوجيا، لتحقيق تأثير أكبر على حياة
        المحتاجين.
      </p>
    </div>

    <!--  خدماتنا -->
    <div class="footer__section">
      <h3>خدماتنا</h3>
      <ul>
        <li>مشاريع التعليم</li>
        <li>المشاريع الصحية</li>
        <li>المشاريع الاجتماعية</li>
        <li>مشاريع التنمية</li>
      </ul>
    </div>

    <!-- استكشاف المزيد -->
    <div class="footer__section">
      <h3>استكشاف المزيد</h3>
      <ul>
        <li>من نحن</li>
        <li>المميزات</li>
        <li>أعمالنا</li>
        <li>المصادر</li>
        <li>سياسة الخصوصية</li>
      </ul>
    </div>

    <!-- تواصل معنا -->
    <div class="footer__section">
      <h3>تواصل معنا</h3>
      <p class="footer__address">
        <i class="bi bi-geo-alt"></i> 123 شارع المستقبل، القاهرة الجديدة، مصر
      </p>
      <p><i class="bi bi-telephone"></i> (048) 2344567</p>
      <p><i class="bi bi-phone"></i> +20 123 4567 72</p>
      <p>
        <i class="bi bi-envelope-at-fill"></i>
        <a [href]="'mailto:' + email">{{ email }}</a>
      </p>
      <div class="footer__social">
        <a href="mailto:givinghands.contact@gmail.com">
          <i class="bi bi-envelope-at-fill"></i>
        </a>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
      </div>
    </div>

    <!--  الحقوق -->
    <div class="footer__bottom">
      <p>جميع الحقوق محفوظة &copy; {{ currentYear }} GivingHands123</p>
      <a href="#" class="footer__terms">الشروط والأحكام</a>
    </div>
  </div>
</footer>
