<nav class="sidebar-nav" dir="rtl">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/settings/profile">الملف الشخصي</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/settings/account-security"><i class="bi bi-shield-lock"></i> أمان الحساب</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/settings/payment-method"><i class="bi bi-credit-card"></i> طريقة الدفع</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/settings/notifications"> <i class="bi bi-bell"></i> الإشعارات</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/settings/work"> <i class="bi bi-clipboard-check"></i>الطلبات</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink=""><i class="bi bi-box-arrow-right"></i> الخروج</a>
    </li>
  </ul>
</nav>
