<div class="login-container">
  <div class="login-modal">
    <div class="modal-header">
      <h2 class="fw-bold">تسجيل الدخول</h2>

      
    </div>
<button class="close-btn" routerLink="/donor"><i class="fa-solid fa-xmark fs-5" ></i></button>
    <form (ngSubmit)="Sigin(siginForm)" [formGroup]="siginForm">
      <div class="form-group">
        <div class="input-group">
          <input autocomplete="off"
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="البريد الالكتروني"
          />
          <div class="input-icon">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            siginForm.get('email')?.errors &&
            (siginForm.get('email')?.touched || siginForm.get('email')?.dirty)
          "
        >
          <span *ngIf="siginForm.get('email')?.getError('required')"
            >البريد الاكتروني مطلوب</span
          >
          <span *ngIf="siginForm.get('email')?.errors?.['email']"
            >البريد الاكتروني غير صحيح</span
          >
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input autocomplete="off"
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="كلمه المرور"
          />
          <div class="input-icon">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div
          class="error-message"
          *ngIf="
            siginForm.get('password')?.errors &&
            (siginForm.get('password')?.touched ||
              siginForm.get('password')?.dirty)
          "
        >
          <span *ngIf="siginForm.get('password')?.errors?.['required']"
            >كلمة المرور مطلوبة</span
          >
          <span *ngIf="siginForm.get('password')?.errors?.['minlength']"
            >يجب أن تحتوي على 8 أحرف على الأقل</span
          >
          <span *ngIf="siginForm.get('password')?.errors?.['pattern']">
            يجب أن تشمل حروف، أرقام، ورمز مثل (<strong>&commat;</strong>)
          </span>
        </div>
      </div>

      <div class="remember-forgot">
        <div class="remember">
          <input type="checkbox" id="remember" />
          <label for="remember">تذكرني</label>
        </div>
        <a href="#" class="forgot-link" routerLink="/forget-password"
          >نسيت كلمه المرور؟</a
        >
      </div>

      <button
        type="submit"
        class="login-btn"
        [disabled]="!siginForm.valid || isloading"
      >
        <span *ngIf="!isloading">تسجيل</span>
        <span
          *ngIf="isloading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span *ngIf="isloading">جاري التحميل...</span>
      </button>

      <div class="divider">
        <span>او تواصل معنا عبر</span>
      </div>

      <div class="social-login">
        <button type="button" class="facebook-btn">
          <span>فيسبوك</span>
          <i class="fa-brands fa-facebook-f"></i>
        </button>
        <button type="button" class="google-btn">
          <span>جوجل</span>
          <i class="fa-brands fa-google"></i>
        </button>
      </div>

      <div class="register-link" routerLink="/register">
        <span>ليس لديك حساب؟ </span>
        <a href="#">سجل حساب</a>
      </div>
    </form>
  </div>
</div>
