<div class="container mt-4">
    <!-- Main Tabs  -->
    <ul class="nav nav-tabs custom-tabs justify-content-start mb-3">
    <li class="nav-item">
        <button
        class="nav-link"
        [class.active]="selectedType === 'projects'"
        (click)="selectedType = 'projects'"
        >
        تطوعات المشاريع
        </button>
    </li>
    <li class="nav-item">
        <button
        class="nav-link"
        [class.active]="selectedType === 'activities'"
        (click)="selectedType = 'activities'"
        >
        تطوعات الأنشطة
        </button>
    </li>
    </ul>

    <!-- secound Tabs-->
   <div class="tab-content mb-4">
  <ul class="nav nav-tabs custom-tabs justify-content-center">
    <li class="nav-item" *ngFor="let tab of tabs">
      <button
        class="nav-link"
        [class.active]="selectedTab === tab.value"
        (click)="selectedTab = tab.value"
      >
        {{ tab.label }}
      </button>
    </li>
  </ul>
</div>



    <!-- volunteer -->
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let volunteer of filteredVolunteers">
  <div class="card h-100 shadow-sm custom-volunteer-card">
    <div class="text-center mt-3">
      <img
        [src]="volunteer.image"
        alt="صورة المتطوع"
        class="rounded-circle avatar-img"
        (click)="openImage(volunteer.image)"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title text-center mb-3">{{ volunteer.name }}</h5>

      <div class="form-group mb-2">
        <label>البريد:</label>
        <input type="text" class="form-control" [value]="volunteer.email" readonly />
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <label>رقم الهاتف:</label>
          <input type="text" class="form-control" [value]="volunteer.phone" readonly />
        </div>
        <div class="col-6">
          <label>الجنس:</label>
          <input type="text" class="form-control" [value]="volunteer.gender" readonly />
        </div>
      </div>

      <div class="form-group mb-2">
        <label>عنوان المشروع:</label>
        <input type="text" class="form-control" [value]="volunteer.projectAddress" readonly />
      </div>

      <div class="form-group mb-3">
        <label>وصف المشروع:</label>
        <textarea class="form-control" rows="2" [value]="volunteer.projectDescription" readonly></textarea>
      </div>
    </div>

    <div class="card-footer bg-transparent border-0 d-flex justify-content-between gap-2">
      <button class="btn btn-accept w-100">إضافة</button>
      <button class="btn btn-reject w-100">رفض</button>
      <button class="btn btn-contact w-100">تواصل</button>
    </div>
  </div>
</div>


    <!-- image scal-->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body p-0">
            <img [src]="selectedImage" class="img-fluid rounded" />
            </div>
        </div>
        </div>
    </div>
</div>
