// Custom styling for toastr notifications


// Change background color, font, and shadow

.toast-success {
  top: 53px !important;
  background-color: #B88E2F !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
  font-weight: bold;
  
  top: 53px !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.toast-warning {
  
  top: 53px !important;
  background-color: #B88E2F !important;
  color: black !important;
  font-weight: bold;
  border-radius: 8px;
}

.toast-info {
  
  top: 53px !important;
  background-color: #B88E2F !important;
  color: white !important;
  font-weight: bold;
}

