<nav class="navbar" [ngClass]="{ 'hidden': isNavbarHidden, 'open': isMenuOpen }">
  <div class="navbar__container">
    <div class="navbar__brand">
      <span>يـــــــد</span>
      <img src="/Images/Logo.svg" alt="logo of giving hand charity" class="navbar__logo" />
      <span>العطاء</span>
    </div>

    <button class="navbar__toggle" (click)="toggleMenu()">☰</button>

    <ul class="navbar__menu">
      <li><a routerLink="/home" routerLinkActive="active">الرئيسية</a></li>
      <li><a routerLink="/about">من نحن</a></li>
      <li><a routerLink="/projects">المشاريع</a></li>
      <li><a routerLink="/donations">التبرعات</a></li>
      <li><a routerLink="/contact">تواصل معنا</a></li>
    </ul>

    <div class="navbar__actions">
      <button class="login-btn" *ngIf="!isLogin" (click)="navigateToLogin()">تسجيل الدخول</button>

      <div class="navbar__user" *ngIf="isLogin">
        <img src="/Images/unsplash_AEaTUnvneik.png" alt="User" class="user-image" />
        <span>مرحبًا، {{ userName }}</span>

        <div class="notification-container mx-2">
          <i class="bi bi-bell notification"></i>
        </div>
      </div>

      <button class="login-btn" *ngIf="isLogin" (click)="handleLogout()">تسجيل الخروج</button>
    </div>
  </div>
</nav>
