<nav class="navbar" [ngClass]="{ hidden: isNavbarHidden }">
  <div class="navbar__container">
    <div class="navbar__brand">
      <span>يـــــــد</span>
      <img src="/Images/Logo.svg" alt="logo of giving hand chairty" class="navbar__logo" />
      <span>العطاء</span>
    </div>

    <ul class="navbar__menu">
      <li><a routerLink="/home" routerLinkActive="active">الرئيسية</a></li>
      <li><a routerLink="/home">من نحن</a></li>
      <li><a routerLink="/home">المشاريع</a></li>
      <li><a routerLink="/home">التبرعات</a></li>
      <li><a routerLink="/home">تواصل معنا</a></li>
    </ul>

    <div class="navbar__actions">
      <button class="login-btn" *ngIf="!isLogin" (click)="login()">
        تسجيل الدخول
      </button>

      <div class="navbar__user" *ngIf="isLogin">
        <img
          src="/Images/Logo.svg"
          alt="User"
          class="user-image"
        />
        <span>مرحبًا، {{ userName }}</span>

        <div class="notification-container mx-2">
          <i class="bi bi-bell notification"></i>
          <!-- <span class="notification-count" *ngIf="unreadNotifications > 0">
            {{ unreadNotifications }}
          </span> -->
        </div>
      </div>
      <button class="login-btn" *ngIf="isLogin" (click)="logout()">
        تسجيل الخروج
      </button>
    </div>
  </div>
</nav>
