<section class="about-section">
  <div class="about-container pt-5">
    <h2 class="section-title pt-5">من نحن؟</h2>
    <p class="about-description">
      يد العطاء ليست مؤسسة ولا تتبع قطاعًا معينًا، بل هي فكرة بدأها وطوّرها <span class="text-warning">
      مجموعة من طلاب كلية العلوم - جامعة المنوفية، قسم الرياضيات البحتة وعلوم
      الحاسب</span>. حملنا رسالة: أن في أموالنا حقٌّ للسائل والمحروم. مدّ الله لك يده
      وساعدك، فماذا ستفعل؟ نحن نعلم أنك ستمنح يد العطاء!
    </p>

    <div class="timeline">
        <div class="timeline-item right">
            <div class="year">2024</div>
            <div class="content">
                <p>
                    أُطلقت الفكرة في <strong>25 / 7 / 2024</strong>
                </p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="year">2025</div>
            <div class="content">
                <p>
                    بدأنا العمل بعد جمع المعلومات في <strong>1 / 1 / 2025</strong>
                </p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="year">2025</div>
            <div class="content">
                <p>
                    تم مناقشة المشروع في <strong>1 / 7 / 2025</strong>
                </p>
            </div>
        </div>
    </div>

    <p class="about-details">
      المنصة تتيح للجمعيات الخيرية في القرى والمحافظات وحتى على مستوى الجمهورية
      نشر مشاريعها، طلباتها، حملاتها الخيرية. يمكن للمستخدم التبرع ماليًا أو
      عينيًا، أو حتى التطوع. كذلك يمكن لأي شخص طلب المساعدة وسنتكفل بالتنسيق مع
      الجمعية.
    </p>

    <h3 class="team-title">فريق العمل</h3>
    <div class="team-cards">
      <div class="team-card">
        <img src="/Images/Adel.png" alt="Adel" />
        <h3 class="text-white- h6">البشمهندس: </h3>
        <h4>عادل محمد عبدالله</h4>
        <p>Back-End Developer</p>
      </div>
      <div class="team-card">
        <img src="/Images/Abdo.png" alt="Abdo" />
        <h3 class="text-white- h6">البشمهندس: </h3>
        <h4>عبدالرحمن صلاح أمين</h4>
        <p>Back-End Developer</p>
      </div>
      <div class="team-card">
        <img src="/Images/Ahmed.jpg" alt="Ahmed" />
        <h3 class="text-white- h6">البشمهندس: </h3>
        <h4>أحمد سعد بيومي</h4>
        <p>Front-End Developer</p>
      </div>
      <div class="team-card">
        <img src="/Images/mayar.jpg" alt="mayar" />
        <h3 class="text-white- h6">البشمهندسة: </h3>
        <h4>ميار فوزي محمد</h4>
        <p>Front-End Developer</p>
      </div>
      <div class="team-card">
        <img src="/Images/farah.jpg" alt="farah" />
        <h3 class="text-white- h6">البشمهندسة: </h3>
        <h4>فرح أحمد الفقي</h4>
        <p>Flutter Developer</p>
      </div>
    </div>
  </div>

  <!-- Modal for image preview -->
  <div class="image-modal" id="imageModal">
    <span class="close-btn" id="closeModal">&times;</span>
    <img class="modal-content" id="modalImage" />
  </div>

</section>
