<!-- >>>>>>>>>>>>>>>> Header  -->
<section class="cta-section">
  <div class="image-container">
    <img src="/Images/about-us-hero.png" alt="A child carrying his sister" />
    <div class="overlay"></div>
  </div>
  <div class="container">
    <h2 class="cta-title">من نحن</h2>
    <p class="cta-text">تمكين التبرعات والتطوع والمساعدة-الكل في منصة واحد</p>
    <!-- الأزرار -->
    <div class="action-buttons">
      <button class="btn donate-btn">انضم إلينا</button>

      <button class="btn volunteer-btn">
        <i class="bi bi-person-arms-up"></i>
        تطوع معنا
      </button>

      <button class="btn help-btn">
        <i class="bi bi-hand-index"></i>
        تواصل معنا
      </button>
    </div>
  </div>
</section>
